@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  background-color: rgb(14, 14, 14);
}

header {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  column-gap: 70px;
}

.movie img {
  width: 300px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

input {
  color: black;
}